<br><br>

<input type="file" (change)="con($event.target.files)">

<br><br>

<!-- TODO RESULTADO ENVIADO DESDE EL SERVICIO MOSTRADO EN CONSOLA -->
<h1><a id="_dgw388893y39"></a>Tu empresa</h1>
<p>Tu calle, 123<br />12345 Tu ciudad (Provincia)<br />(34) 000 000 000<br />no_reply@example.com</p>
<p>4 de septiembre del 20XX</p>
<p>Sr. Nombre y apellidos de la persona<br />Calle Dirección, 123 <br />12345 Ciudad (Provincia)</p>
<p>Estimada Sra. Apellido de la persona:</p>
<p>Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe
    aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí
    tu texto Escribe aquí tu texto Escribe aquí tu texto.</p>
<p>Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe
    aquí tu texto Escribe aquí tu texto.</p>
<p>Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe
    aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí
    tu texto Escribe aquí tu texto Escribe aquí tu texto Escribe aquí tu texto.</p>
<p>Un saludo,</p>
<p>Tu nombre</p>
<p>Tu puesto, Tu empresa</p>