.card {
    max-width: 400px;
    margin-top: 10%;
}

.contenedor {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
    /* overflow: scroll; */
    overflow: auto;
    border-radius: 4px;
}

.contenedor::-webkit-scrollbar {
    width: 7px;
    /* background: rgb(143, 8, 8);  le asignamos un color a todo el scroll */
}

.contenedor::-webkit-scrollbar-thumb {
    background:royalblue;
    border-radius: 5px;
}

/*  */

.contenedor2 {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    overflow: auto;
    font-family: 'Open Sans';
    border-radius: 4px;
}

.contenedor2 h1 {
    font-size: 38px;
    font-weight: 600;
    color: #000;
}

.contenedor2 hr {
    background: #ff9d00;
    width: 20%;
    height: 5px;
    border: none;
    margin: 20px 0;
    border-radius: 50px
}

p {
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 16px;
    color: #414141;
}

.contenedor2::-webkit-scrollbar {
    width: 7px;
    /* color: #000; */
}

.contenedor2::-webkit-scrollbar-thumb {
    background: #ff9d00;
    border-radius: 5px;
}
